body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #61a5c2;
}
#H1 {
  text-align: center;
  color: black;
  background-color: white;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  padding: 5px;
  margin-top: 20px;
}
.nav-link:hover {
  color: black;
  transition: 0.4s;
}
#carousel {
  height: fit-content;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
}
#carouselButton1 {
  background-color: grey;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  opacity: 80%;
}
#carouselButton2 {
  background-color: grey;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  opacity: 80%;
}
#farsangHistory {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  color: black;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
#farsangHagyomany {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  color: black;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}
#fank {
  width: 500px;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
}
